[class*=row] {
  height: 140px;
}

[class*=col-] {
  border: 1px solid black;
  text-align: center;
  background-color: pink;
  height: 100%;
  line-height: 140px;
  vertical-align: middle;
}

.row5 > .col-6 {
  padding: 5px;
}
.col-6 [class*=col-] {
  background-color: #d37e8d;
  border: 1px solid white;
}
